# Warm up
Let's start with some warm up exercises to get you familiar with the database and do some SQL querying.
Make sure to have downloaded the NBA dataset form Kaggle as described in the README.

In [ ]:
import sqlite3 as sql
import pandas as pd
from pathlib import Path

## TODO: Use pathlib to get the path to the data directory. Path(__file__) won't work in a Jupyter notebook.
DATA_PATH = Path.cwd() / 'data'/ 'nba.sqlite'

## Create a SQLite connection and run some SQL queries

In [ ]:
con = sql.connect(DATA_PATH)  # connect to the database
query = 'SELECT * FROM game LIMIT 10'  # write a query that selects the first 10 rows from the game table
top_10_game = pd.read_sql(query, con)  # read the query into a pandas dataframe
top_10_game.head()  # print the dataframe

In [ ]:
# let's look at the schema of the database
# TODO: sqlite_master is the name of the table you want to inspeact: Replace TABLE_NAME with the name of the table you want to inspect
query = """
    SELECT *
    FROM sqlite_master
"""

pd.read_sql(query, con).sort_values('name')

In [ ]:
# let's see all the tables we have in the database
# TODO: Filter for tables only
query = """
    SELECT name
    FROM sqlite_master
    WHERE type = 'table'
"""
pd.read_sql(query, con)

In [ ]:
# let's have a look at the columns in the game table
query = """
    PRAGMA table_info(draft_combine_stats)
"""
pd.read_sql(query, con)

In [ ]:
# let's find the earliest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date
    LIMIT 1
"""

print(pd.read_sql(query, con))

# let's find the latest recorded game
query = """
    SELECT game_date
    FROM game
    ORDER BY game_date DESC
    LIMIT 1
"""

print(pd.read_sql(query, con))

In [ ]:
# TODO: Find four interesting facts about the data and write a query to find the answer

In [ ]:
# Fact 1: Which teams have the most home wins in NBA history?
# ğŸ€ äº‹å®1ï¼šå“ªæ”¯çƒé˜Ÿä¸»åœºèƒœç‡æœ€é«˜ï¼Ÿï¼ˆå‰10åï¼‰

print("=" * 60)
print("FACT 1: Top 10 Teams with Most Home Wins")
print("=" * 60)

query = """
    SELECT 
        team_name_home as team_name,
        COUNT(*) as total_home_wins
    FROM game
    WHERE wl_home = 'W'
    GROUP BY team_name_home
    ORDER BY total_home_wins DESC
    LIMIT 10
"""

result = pd.read_sql(query, con)
print(result)
print("\nInsight: The teams listed above dominated at their home courts!")

In [ ]:
# Fact 2: What was the highest-scoring game in NBA history?
# ğŸ“Š äº‹å®2ï¼šNBAå†å²ä¸Šå¾—åˆ†æœ€é«˜çš„æ¯”èµ›

print("\n" + "=" * 60)
print("FACT 2: Highest-Scoring Game in NBA History")
print("=" * 60)

query = """
    SELECT 
        team_name_home,
        team_name_away,
        pts_home,
        pts_away,
        (pts_home + pts_away) as total_points,
        game_date
    FROM game
    ORDER BY total_points DESC
    LIMIT 1
"""

result = pd.read_sql(query, con)
print(result)
print(f"\nInsight: The game had a combined {result['total_points'].values[0]} points!")

In [ ]:
# è¿™å‘Šè¯‰æˆ‘ä»¬ä»€ä¹ˆï¼Ÿ

# ğŸŒŸ è¿™æ˜¯å…¨æ˜æ˜Ÿèµ›ï¼ï¼ˆä¸æ˜¯å¸¸è§„èµ›ï¼‰
#  å…¨æ˜æ˜Ÿèµ›æ˜¯è¡¨æ¼”æ€§è´¨ï¼Œé˜²å®ˆæ¾æ‡ˆï¼Œæ‰€ä»¥å¾—åˆ†ç‰¹åˆ«é«˜
#  å¸¸è§„èµ›å¾ˆå°‘æœ‰è¶…è¿‡250åˆ†çš„æ¯”èµ›

# æœ‰è¶£çš„å‘ç°ï¼šè¿™ä¸ªç»“æœæ­ç¤ºäº†ä¸€ä¸ªé‡è¦ä¿¡æ¯ï¼šå¦‚æœä½ æƒ³æ‰¾"çœŸæ­£çš„é«˜åˆ†æ¯”èµ›"ï¼Œåº”è¯¥æ’é™¤å…¨æ˜æ˜Ÿèµ›ï¼

In [ ]:
# Excluding the highest-scoring game of the All-Star Game
# æ”¹è¿›ç‰ˆ Fact 2: æ’é™¤å…¨æ˜æ˜Ÿèµ›çš„æœ€é«˜åˆ†æ¯”èµ›ï¼ˆè¿™æ ·ä¼šæ›´æœ‰æ„ä¹‰ï¼‰

print("\n" + "=" * 60)
print("FACT 2 (Improved): Highest-Scoring Regular/Playoff Game")
print("(Excluding All-Star Games)")
print("=" * 60)

query = """
    SELECT 
        team_name_home,
        team_name_away,
        pts_home,
        pts_away,
        (pts_home + pts_away) as total_points,
        game_date
    FROM game
    WHERE team_name_home NOT LIKE '%All Star%'
      AND team_name_away NOT LIKE '%All Star%'
    ORDER BY total_points DESC
    LIMIT 1
"""

result = pd.read_sql(query, con)
print(result)
print(f"\nInsight: This was a real game (not All-Star), with {result['total_points'].values[0]} total points!")
print("Much more impressive than an exhibition game!")
print("\nğŸ€ Historical Context:")
print("This game went to TRIPLE OVERTIME (3 extra periods)!")
print("It represents the fast-paced, high-scoring era of 1980s basketball.")
print("Modern NBA rarely sees games with 260+ combined points.")

In [ ]:
# Comments & Insights:
# è¿™åœºæ¯”èµ›å‘ç”Ÿåœ¨ 1983å¹´12æœˆ13æ—¥ï¼Œæ˜¯NBAå†å²ä¸Šæœ€ç–¯ç‹‚çš„æ¯”èµ›ä¹‹ä¸€ï¼

# (i). ä¸ºä»€ä¹ˆè¿™ä¹ˆç‰¹æ®Šï¼Ÿ
    # 1.è¿™åœºæ¯”èµ›æ‰“äº†3ä¸ªåŠ æ—¶èµ›ï¼ï¼ˆtriple overtimeï¼‰
    # 2.æœ€ç»ˆ Detroit Pistons ä»¥ 186:184 é™©èƒœ
    # 3. è¿™æ˜¯éå…¨æ˜æ˜Ÿèµ›ä¸­å¾—åˆ†æœ€é«˜çš„æ¯”èµ›

# (ii). ç¯®çƒæˆ˜æœ¯çš„å˜åŒ– ğŸ“ˆ
    # 1. 1980å¹´ä»£çš„NBAèŠ‚å¥éå¸¸å¿«ï¼Œé˜²å®ˆç›¸å¯¹æ¾æ•£
    # 2. å¯¹æ¯”ç°åœ¨ï¼šç°ä»£NBAå¾ˆå°‘æœ‰å•åœºè¶…è¿‡260åˆ†çš„æ¯”èµ›
    # 3. è¿™åæ˜ äº†ç¯®çƒä»"å¿«é€Ÿè¿›æ”»"åˆ°"æˆ˜æœ¯é˜²å®ˆ"çš„æ¼”å˜

# (iii). æƒŠäººçš„ç»Ÿè®¡ ğŸ“Š
    # 1. å¹³å‡æ¯é˜Ÿå¾—åˆ† 185åˆ†
    # 2. å¦‚æœæ˜¯æ­£å¸¸48åˆ†é’Ÿæ¯”èµ›ï¼Œè¿™ç›¸å½“äºæ¯èŠ‚å¾—åˆ†46åˆ†ï¼
    # 3. ä½†å› ä¸ºæœ‰3ä¸ªåŠ æ—¶ï¼ˆæ€»å…±63åˆ†é’Ÿï¼‰ï¼Œå¹³å‡æ¯åˆ†é’Ÿå¾—åˆ†çº¦ 5.9 åˆ†

# (iv). å¯¹æ¯”å…¨æ˜æ˜Ÿèµ› ğŸŒŸ
    # è¿˜è®°å¾—ä¹‹å‰çš„å…¨æ˜æ˜Ÿèµ›å—ï¼Ÿï¼ˆ374åˆ†ï¼Œ2017å¹´ï¼‰
    # å…¨æ˜æ˜Ÿèµ›ï¼š374åˆ† â†’ è¡¨æ¼”æ€§è´¨ï¼Œå‡ ä¹ä¸é˜²å®ˆ
    # è¿™åœºæ¯”èµ›ï¼š370åˆ† â†’ çœŸåˆ€çœŸæªçš„ç«æŠ€ï¼
    # ç»“è®ºï¼šæ’é™¤å…¨æ˜æ˜Ÿåï¼Œè¿™ä¸ªç»“æœæ›´æœ‰è¯´æœåŠ›ï¼

In [ ]:
# Fact 3: Which players had the longest NBA careers?
# ğŸ‘´ äº‹å®3: å“ªäº›çƒå‘˜çš„NBAç”Ÿæ¶¯æœ€é•¿?

print("\n" + "=" * 60)
print("FACT 3: Players with Longest NBA Careers")
print("=" * 60)

query = """
    SELECT 
        full_name,
        from_year,
        to_year,
        (to_year - from_year) as career_length_years
    FROM player
    WHERE to_year IS NOT NULL 
      AND from_year IS NOT NULL
    ORDER BY career_length_years DESC
    LIMIT 10
"""

result = pd.read_sql(query, con)
print(result)
print("\nInsight: These players showed incredible longevity and dedication!")
print("Playing 15+ years in the NBA is extremely rare!")

In [ ]:
# ä¸Šè¿°é—®é¢˜æŠ¥é”™ï¼šplayer è¡¨é‡Œæ²¡æœ‰ from_year è¿™ä¸€åˆ—ï¼è€Œä¸Šè¿°ä»£ç å‡è®¾äº† player è¡¨æœ‰è¿™äº›åˆ—ã€‚
# æ‰€ä»¥å®é™…ä¸Šè¿™ä¸ªæ•°æ®åº“çš„ç»“æ„å¯èƒ½ä¸åŒï¼
# âœ… è§£å†³æ–¹æ¡ˆï¼šå…ˆæŸ¥çœ‹è¡¨ç»“æ„ â€”â€” çœ‹çœ‹ player è¡¨æœ‰å“ªäº›åˆ— (ä¸‹è¿°ä»£ç è·‘å‡ºåä¼šæ˜¾ç¤º player è¡¨çš„æ‰€æœ‰åˆ—åï¼)ï¼š

# Let's check what columns are in the player table
print("Checking columns in 'player' table:")
query = """
    PRAGMA table_info(player)
"""
result = pd.read_sql(query, con)
print(result)

In [ ]:
# ä¸Šè¿° player è¡¨æ˜¾ç¤ºï¼šç¡®å®æ²¡æœ‰ from_year å’Œ to_yearï¼
# å¤‡ç”¨æ–¹æ¡ˆï¼šç”¨å…¶ä»–è¡¨æ¥æ‰¾èŒä¸šç”Ÿæ¶¯ä¿¡æ¯ â€”â€” å¦‚æœ player è¡¨æ²¡æœ‰å¹´ä»½ä¿¡æ¯ï¼Œæˆ‘ä»¬å¯ä»¥ç”¨ common_player_info è¡¨ï¼š

# Fact 3: Players with Longest NBA Careers (Alternative approach)
# ğŸ‘´ äº‹å®3: NBAç”Ÿæ¶¯æœ€é•¿çš„çƒå‘˜

print("\n" + "=" * 60)
print("FACT 3: Players with Most Seasons Played")
print("=" * 60)

query = """
    SELECT 
        display_first_last as player_name,
        from_year,
        to_year,
        (to_year - from_year) as seasons_played
    FROM common_player_info
    WHERE from_year IS NOT NULL 
      AND to_year IS NOT NULL
      AND from_year > 0
    ORDER BY seasons_played DESC
    LIMIT 10
"""

result = pd.read_sql(query, con)
print(result)
print("\nInsight: These legends played 15+ seasons - incredible longevity!")
print("Playing into your late 30s or even 40s requires exceptional dedication and fitness.")

In [ ]:
# ä¸Šè¿°è¡¨ç»“æœå‡ºç°æ˜æ˜¾å¼‚å¸¸ï¼šå¯¹äº0å·çƒå‘˜ï¼Œ55å¹´çš„èŒä¸šç”Ÿæ¶¯ï¼Ÿä¸å¯èƒ½ï¼
    # â€”â€”> NBAçƒå‘˜å¹³å‡èŒä¸šç”Ÿæ¶¯åªæœ‰4-5å¹´ï¼Œæœ€é•¿çš„ä¹Ÿå°±æ˜¯20å¤šå¹´ï¼ˆæ¯”å¦‚ Vince Carterï¼‰ã€‚

# å¯èƒ½çš„åŸå› ï¼š
    #  1. `from_year` å’Œ `to_year` å¯èƒ½ä¸æ˜¯æŒ‡"èŒä¸šç”Ÿæ¶¯"
    #  2. å¯èƒ½æ˜¯"å‡ºç”Ÿå¹´ä»½"åˆ°"æŸä¸ªç»Ÿè®¡å¹´ä»½"
    #  3. æˆ–è€…æ•°æ®æœ¬èº«æœ‰é”™è¯¯

# ä½†æ˜¯å¥½æ¶ˆæ¯ï¼šæœ‰äº›æ•°æ®çœ‹èµ·æ¥æ˜¯å¯¹çš„ï¼
    #  Vince Carter:    1998-2019, 21 seasons  âœ… (ä»–ç¡®å®æ‰“äº†22å¹´ï¼)    
    #  Kevin Garnett:   1995-2015, 20 seasons  âœ… (æ­£ç¡®ï¼)
    #  Dirk Nowitzki:   1998-2018, 20 seasons  âœ… (æ­£ç¡®ï¼)
    #  Kareem Abdul-Jabbar: 1969-1988, 19 seasons âœ… (ä»–æ‰“äº†20å¹´ï¼)
    #  â€”â€”> è¿™äº›æ˜¯çœŸæ­£çš„ä¼ å¥‡ï¼


# âœ… æ”¹è¿›æ–¹æ¡ˆï¼šè¿‡æ»¤æ‰å¼‚å¸¸æ•°æ®
# Fact 3 (Improved): Players with Longest NBA Careers
# äº‹å®3ï¼ˆæ”¹è¿›ç‰ˆï¼‰: NBAç”Ÿæ¶¯æœ€é•¿çš„çƒå‘˜

print("\n" + "=" * 60)
print("FACT 3: Players with Longest NBA Careers")
print("=" * 60)

query = """
    SELECT 
        display_first_last as player_name,
        from_year,
        to_year,
        (to_year - from_year) as seasons_played
    FROM common_player_info
    WHERE from_year IS NOT NULL 
      AND to_year IS NOT NULL
      AND from_year > 1946                          -- NBA founded in 1946
      AND (to_year - from_year) <= 25               -- Filter out 55-year anomalies
      AND (to_year - from_year) >= 10               -- Only long careers
    ORDER BY seasons_played DESC
    LIMIT 10
"""

result = pd.read_sql(query, con)
print(result)
print("\nInsight: These legends played 15-22 seasons - incredible longevity!")
print("Playing into your late 30s requires exceptional fitness and skill.")
print(f"The longest career was {result['seasons_played'].values[0]:.0f} seasons by {result['player_name'].values[0]}!")
print("Note: Some players' data may include international leagues.")

In [ ]:
# ğŸ€ ä¸Šå›¾ç¤ºç»“æœæ˜¾ç¤º Top 10 èŒä¸šç”Ÿæ¶¯æœ€é•¿çš„çƒå‘˜

# ğŸ† #1: Andrew Gaze - 24 èµ›å­£ (1993-2017, 24 yrs)
    # ğŸ‡¦ğŸ‡º æ¾³å¤§åˆ©äºšä¼ å¥‡çƒå‘˜
    # ä½†è¦æ³¨æ„ï¼šä»–åœ¨NBAå®é™…åªæ‰“äº†7å¹´å·¦å³
    # è¿™24å¹´å¯èƒ½åŒ…å«äº†ä»–åœ¨æ¾³å¤§åˆ©äºšNBLè”èµ›å’Œå…¶ä»–å›½é™…è”èµ›çš„æ—¶é—´
    # æ•°æ®å¼‚å¸¸ï¼Ÿ å¯èƒ½æ˜¯æ•°æ®åº“æŠŠä»–æ‰€æœ‰èŒä¸šç”Ÿæ¶¯éƒ½ç®—è¿›å»äº†
    # ğŸ¤” é—®é¢˜ï¼š è¿™ä¸ªæ•°æ®å¯èƒ½ä¸å®Œå…¨å‡†ç¡®ï¼Œå› ä¸ºä»–ä¸æ˜¯çº¯NBAç”Ÿæ¶¯24å¹´; 
    # ä½†æ˜¯é™¤äº† Andrew Gaze å¯èƒ½æœ‰å°é—®é¢˜å¤–ï¼Œå…¶ä»–éƒ½å‡†ç¡®ï¼

# ğŸŒŸ #2: Kevin Willis - 22 èµ›å­£ (1984-2006, 22 yrs)
    # ğŸ’ª çœŸæ­£çš„"é“äºº"ï¼çº¯æ­£çš„NBAç”Ÿæ¶¯22å¹´
    # 44å²è¿˜åœ¨æ‰“çƒï¼ˆNBAå†å²ä¸Šæœ€è€çš„çƒå‘˜ä¹‹ä¸€ï¼‰
    # ç”Ÿæ¶¯æ€»å…±æ‰“äº†1424åœºæ¯”èµ›
    # ç‰¹ç‚¹ï¼š èº«ä½“ç´ è´¨è¶…å¼ºï¼ŒèŒä¸šæ€åº¦æä½³

# ğŸ¦… #3: Vince Carter - 21 èµ›å­£ (1998-2019, 21 yrs)
    # ğŸ”¥ "åŠäººåŠç¥"ï¼ˆç»°å·ï¼šå› ä¸ºä»–çš„æ‰£ç¯®å¤ªå¤¸å¼ ï¼‰
    # å®é™…æ‰“äº†22ä¸ªèµ›å­£ï¼ˆ1998-2020ï¼‰
    # ä»æš´åŠ›æ‰£ç¯®ç‹åˆ°ä¸‰åˆ†å°„æ‰‹çš„åä¸½è½¬å‹
    # 43å²é€€å½¹ï¼Œè·¨è¶Šäº†4ä¸ªåå¹´ä»£ï¼
    # ä¼ å¥‡æ—¶åˆ»ï¼š 2000å¹´æ‰£ç¯®å¤§èµ›ï¼Œå²ä¸Šæœ€ç²¾å½©

# ğŸ’ #4: Kevin Garnett - 20 èµ›å­£ (1995-2015, 20 yrs)
    # ğŸ† 2008å¹´å¸®åŠ©å‡¯å°”ç‰¹äººå¤ºå† 
    # é˜²å®ˆå¤§å¸ˆï¼Œ15æ¬¡å…¥é€‰å…¨æ˜æ˜Ÿ
    # ç‰¹ç‚¹ï¼š æ¿€æƒ…ã€é¢†å¯¼åŠ›ã€å…¨èƒ½
    # ä»é«˜ä¸­ç›´æ¥è¿›å…¥NBAçš„ä¼ å¥‡ä¹‹ä¸€

# ğŸ”¥ #5: Udonis Haslem - 20 èµ›å­£ (2003-2023, 20 yrs)
    # ğŸ† å¸®åŠ©çƒ­ç«èµ¢å¾—3æ¬¡æ€»å† å†›
    # å¿ è¯šå…¸èŒƒï¼š æ•´ä¸ªèŒä¸šç”Ÿæ¶¯éƒ½åœ¨è¿ˆé˜¿å¯†çƒ­ç«ï¼
    # åæœŸä¸»è¦æ˜¯æ›¿è¡¥å’Œå¯¼å¸ˆè§’è‰²
    # 2023å¹´43å²é€€å½¹

# ğŸ‡©ğŸ‡ª #6: Dirk Nowitzki - 20 èµ›å­£ (1998-2018, 20 yrs)
    # ğŸ† 2011å¹´å¸¦é¢†ç‹¬è¡Œä¾ å¤ºå† ï¼ˆå‡»è´¥çƒ­ç«ä¸‰å·¨å¤´ï¼‰
    # é©å‘½æ€§çƒå‘˜ï¼š 7å°ºé•¿äººèƒ½æŠ•ä¸‰åˆ†ï¼Œæ”¹å˜äº†ç¯®çƒ
    # æ•´ä¸ªç”Ÿæ¶¯éƒ½åœ¨è¾¾æ‹‰æ–¯ï¼Œå¿ è¯šä¼ å¥‡
    # 14æ¬¡å…¨æ˜æ˜Ÿï¼ŒMVPè·å¾—è€…

# ğŸ‘‘ #7: Robert Parish - 20 èµ›å­£ (1976-1996, 20 yrs)
    # ğŸ† 80å¹´ä»£å‡¯å°”ç‰¹äººç‹æœçš„æ ¸å¿ƒï¼ˆå’ŒLarry Birdæ­æ¡£ï¼‰
    # ç»°å·"é…‹é•¿"ï¼ˆThe Chiefï¼‰
    # 43å²è¿˜åœ¨æ‰“çƒ
    # NBAå†å²å‡ºåœºæ¬¡æ•°ç¬¬äºŒå¤šï¼ˆ1611åœºï¼‰

# ğŸ #8: Kareem Abdul-Jabbar - 19 èµ›å­£ (1969-1988, 19 yrs)
    # ğŸ† 6æ¬¡æ€»å† å†›ï¼Œ6æ¬¡MVP
    # NBAå†å²å¾—åˆ†ç‹ï¼ˆ38,387åˆ†ï¼Œç›´åˆ°2023å¹´æ‰è¢«LeBronæ‰“ç ´ï¼‰
    # æ ‡å¿—æ€§æŠ€æœ¯ï¼š å‹¾æ‰‹æŠ•ç¯®ï¼ˆSky Hookï¼‰ï¼Œæ— äººèƒ½é˜²
    # é€€å½¹æ—¶42å²

# ğŸ #9: Kobe Bryant - 19 èµ›å­£ (1996-2015, 19 yrs)
    # ğŸ† 5æ¬¡æ€»å† å†›ï¼ˆå…¨éƒ¨åœ¨æ¹–äººï¼‰
    # æ›¼å·´ç²¾ç¥ï¼š æè‡´çš„è®­ç»ƒæ€åº¦å’Œæ±‚èƒœæ¬²
    # 81åˆ†å•åœºå¾—åˆ†ï¼ˆNBAå†å²ç¬¬äºŒé«˜ï¼‰
    # 2020å¹´ä¸å¹¸å› ç›´å‡æœºäº‹æ•…å»ä¸–ï¼Œå…¨çƒå“€æ‚¼

In [ ]:
# Fact 4 (Improved): Which season had the highest average points per game?
# ğŸ—“ï¸ äº‹å®4ï¼ˆæ”¹è¿›ç‰ˆï¼‰: å“ªä¸ªèµ›å­£çš„å¹³å‡å¾—åˆ†æœ€é«˜?

print("\n" + "=" * 60)
print("FACT 4 (Improved): Season with Highest Average Points")
print("=" * 60)

query = """
    SELECT 
        season_id,
        AVG(pts_home + pts_away) as avg_total_points,
        COUNT(*) as total_games
    FROM game
    WHERE team_name_home NOT LIKE '%All Star%'
      AND team_name_away NOT LIKE '%All Star%'
    GROUP BY season_id
    HAVING COUNT(*) > 100
    ORDER BY avg_total_points DESC
    LIMIT 10
"""

result = pd.read_sql(query, con)
print(result)
print("\nğŸ€ Basketball History Insights:")
print("The 1960s-70s were the highest-scoring era in NBA history!")
print("Average games had 230+ combined points - that's 115 per team!")
print("Modern basketball (2020s) is faster again, but still not as high-scoring.")

In [ ]:
#ğŸ’¡ å…³é”® Insightsï¼ˆFact 4 è¿™ä¸ªç»“æœå‘Šè¯‰æˆ‘ä»¬ä»€ä¹ˆï¼‰

# Insight 1: 1960-70å¹´ä»£æ˜¯å¾—åˆ†æœ€é«˜çš„æ—¶ä»£ï¼
    # å¾—åˆ†æœ€é«˜çš„èµ›å­£å¹³å‡æ¯åœº 233.4åˆ†    
    # è¿™æ˜¯NBAçš„"é»„é‡‘æ—¶ä»£"ï¼ŒèŠ‚å¥éå¸¸å¿«

# Insight 2: ç¯®çƒé£æ ¼çš„æ¼”å˜
    # 1960s-70s: 233åˆ†/åœº â†’ å¿«é€Ÿè¿›æ”»ï¼Œé«˜å¾—åˆ†
    # 1990s-2000s: 190-200åˆ†/åœº â†’ é˜²å®ˆåŠ å¼º
    # 2010s-2020s: 220åˆ†/åœº â†’ åˆå¼€å§‹æé€Ÿï¼ˆä¸‰åˆ†çƒæ—¶ä»£ï¼‰

# Insight 3: æ¯”èµ›æ•°é‡çš„å˜åŒ–
    # æœ‰äº›èµ›å­£åªæœ‰360åœºæ¯”èµ›ï¼ˆå¯èƒ½æ˜¯åœæ‘†èµ›å­£ï¼‰
    # æ­£å¸¸èµ›å­£æœ‰1000+åœºæ¯”èµ›